/* inutile: autant le target avec "header"
sauf si tu veux denoter que tu as plusieurs types de header.
auquel cas ce serais plus pertinent d'utiliser:
header.mobile
header.desktop
par exemple */
#header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	font-weight: bold;
	font-size: 20px;

	padding: var(--size-5);

	nav,
	h1 {
		z-index: 3;
	}
	ul {
		list-style-type: none;
		display: flex;
	}
	li:not(:last-child) {
		margin-right: 3rem;
	}
	a {
		color: #f1f1f1;
		text-decoration: none;
	}
	a:hover {
		color: rgb(247, 104, 192);
		transition: color 0.3s ease-in-out;
	}
}

#logoV {
	display: flex;
	align-items: center;

	img {
		width: 100px;
		z-index: 3;
	}
}

.language-switcher {
	display: inline-block; /* Évite que ça prenne toute la largeur */
	color: white; /* Couleur du texte */
	cursor: pointer; /* Indique que c'est cliquable */
	margin-left: 15px;
	text-decoration: none; /* Enlève le soulignement si c'est un lien */
	font-weight: bold; /* Optionnel : rend le texte plus visible */
	background-color: #222;
	border-radius: 20px;
	padding: 5px 10px;
}

.language-switcher:hover {
	color: rgb(247, 104, 192); /* Couleur du texte au survol */
	transition: color 0.3s ease-in-out; /* Animation de la couleur */
}
/*SIDEBAR MOBILE CSS*/

/* Bouton hamburger pour mobile */
.menu-toggle {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	z-index: 10;
}

.menu-toggle span {
	display: block;
	width: 100%;
	height: 3px;
	background-color: #f7f3e7;
	border-radius: 3px;
	transition: all 0.3s ease;
}
